*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    height:96vh;
    width: 100vw;
    background-image: url(Images/bg-rain-drops-on-window-shield.jpg);
    background-size: cover;
    background-attachment: fixed;
}
:root {
    font-size: 10px;
}
#navbar{
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 8px 20px;
    background-color: rgba(64, 144, 172, 0.65);
    color: white;
}
.menu{
    list-style:none;
    display: flex;

}
.menu > li{
    display: inline-block;
    font-size: 14px;
    padding:8px 7px;
    margin:0 4px;
    background-color: rgba(64, 144, 172, 0.65);

}
.menu > .pointer:hover{
    cursor:pointer;
    background-color: rgba(67, 145, 173, 0.65);
    color:rgba(255, 255, 255, 0.73);
}
#txt-input{
    padding:0;
    width:120px;
}
.menu > .menu-input input{
    border:none;
    height:30px;
    width:100%;
    background-color: rgba(64, 144, 172, 0.65);
    padding-left:10px;
    outline:none;

}
.menu > .menu-input input:focus{
    background-color: white;

}

.menu .pointer .b{
    font-weight:none;
}
.app-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
}

.actions{
    padding:6px;

}
.actions .pointer{
    font-size: 16px;
    padding:7px;
    margin:0px;
    margin-left:8px;
    background-color: rgba(64, 144, 172, 0.65);
}
.actions .pointer:hover{
    cursor:pointer;
    background-color: rgba(67, 145, 173, 0.65);
    color:rgba(255, 255, 255, 0.73);
}
.board-menu {
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: black;
    background-color: rgba(128, 128, 128, 0.3);
    color: white;
    font-size: 14px;
}
.board-menu .board-show-menu :hover, .board-menu .show:hover{
    cursor:pointer;
    color:rgb(210, 210, 210);
}
#container {
    display: flex;
    align-items: flex-start;  /*it take space by vertical content  */
    padding: 0 0.8rem 0.8rem;
    margin-top: 120px;
}
.list {
    flex: 0 0 23rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
    position:relative;
    display: block;
    padding: 0.1rem 0.3rem;
    /* border:2px solid green; */
}
.add-card-form{
    padding: 0.65rem 0.6rem;
    /* border:1px solid blue; */
}
.add-card-form-actions{
    /* border:2px solid red; */
    padding:0;
    margin-top: 10px;
}
.add-card-form .btn{
    font-size: 15px;
    padding:0.8rem 1rem;
    border-radius:5px;
    border:none;
    background-color: olive;
    color:white;
}
.add-card-form .btn:hover{
    background-color: rgb(152, 152, 79);
    cursor:pointer;
}
.add-card-form .fas{
    /* border:1px solid red; */
    font-size: 30px;
    position:absolute;
    padding:0.2rem;
    margin-left:7px;
    color:rgb(79, 79, 79);
}

.add-card-form .fas:hover{
    color:rgb(123, 123, 123);
    cursor:pointer;
}
.add-card-form .full-width-input{
    width:100%;
    height:60px;
    resize:none;
    border:none;
    outline:none;
    padding:10px;
}
.btn1{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 10px;
    margin: 10px;
    position:absolute;
    top:0px;
    right:5px;
    /* border:2px solid green; */
    
}
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0rem;
    cursor: pointer;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    padding: 1rem;
    margin: 0;
    /* border:2px solid blue; */
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem;
    overflow-y: auto;
    margin: 0;
}

.list-items li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    color: rgb(77, 77, 77);
    border-bottom: 0.1rem solid rgb(204, 204, 204);
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
    /* border:2px solid orange; */
}


.list-items li:hover {
    background-color: rgb(238, 238, 238);
}

.add-btn {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    width:200px;
    /* border:2px solid red; */
}

.add-btn:hover {
    background-color: rgb(205, 210, 212);
    color: rgb(77, 77, 77);
    text-decoration: underline;
}